@using MbmStore.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Catalog";
}

<h2>Products</h2>

<div class="body-content">
    <div>
        @Html.ActionLink("View Cart", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-primary" })
    </div>
    <br />

    <div style="border: 0px solid red;">
        <h2>The Books</h2>
        @foreach (Book book in Model.OfType<Book>().ToList())
        {
            @Html.Partial("ProductSummaryBook", book);
            <br />
        }
    </div>

    <div style="border: 0px solid blue;">
        <h2>The Music CDs</h2>
        @foreach (MusicCD cd in Model.OfType<MusicCD>().ToList())
        {
            @Html.Partial("ProductSummaryMusicCD", cd)
            <br />
        }
    </div>

    <div style="border: 0px solid green;">
        <h2>The Movies</h2>
        @foreach (Movie movie in Model.OfType<Movie>().ToList())
        {
            @Html.Partial("ProductSummaryMovie", movie)
            <br />
        }
    </div>

</div>

