
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<ul>
    <li>
        @Html.ActionLink("Movies", "Index", "Movie")
    </li>
    <li>
        @Html.ActionLink("Customers", "Index", "Customer")
    </li>
    <li>
        @Html.ActionLink("Catalog", "Index", "Catalog")
    </li>
    <li>
        @Html.ActionLink("Invoices", "Index", "Invoice")
    </li>
</ul>
